repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-illegal-windows-names
      - id: check-executables-have-shebangs
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        description: Format files with cargo fmt.
        entry: cargo +nightly fmt
        language: system
        types: [rust]
        args: ["--", "--check"]
      - id: clippy
        name: cargo clippy
        description: Lint rust sources
        entry: cargo clippy
        language: system
        args: ["--workspace", "--all-targets", "--", "-D", "warnings"]
        types: [rust]
        pass_filenames: false
  # - repo: https://github.com/DevinR528/cargo-sort
  #   rev: v1.0.4
  #   hooks:
  #     - id: cargo-sort
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
